.PlayerDetails {
    margin-top: 30px;
  .arrow-main {
    position: relative;
    left: -31%;
    top: 5px;
    cursor: pointer;
    svg {
      width: 20px;
    }
  }
  .heading {
    font-size: 24px;
    line-height: 30px;
    color: black;
    margin: 30px 0px;
  }
  .player-detail-text {
    text-align: center;
    align-items: center;
    width: 500px;
    height: auto;
    padding: 30px;
    margin: auto;
    position: relative;
    top: 62px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
      rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
      rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    .name {
    }
    .name {
      font-size: 34px;
      line-height: 38px;
      color: #000;
    }
    .discription {
      margin: 20px 0px;
      font-size: 14px;
      line-height: 18px;
      color: #000;
      opacity: 0.7;
    }
    .type {
      .type-text,
      .type-main {
        text-transform: capitalize;
        font-size: 15px;
        line-height: 18px;
        color: #000;
      }
      .type-main {
        font-weight: 600;
      }
    }
  }
}

.second-container {
  margin: 80px 0px;

  h2 {
    padding: 30px 0px;
  }
  .second-main {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    .similar-player-card {
      box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px,
        rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px,
        rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px,
        rgba(0, 0, 0, 0.07) 0px 32px 64px;
      text-decoration: none;
      padding: 30px;
      color: #000;
    }
  }
}
